.widthfooter{
    width: 100%;
}
.space{
    padding-left: 30px;
    padding-left: 30px;
}
.imgwidth{
    width: 30px;
    height: 30px;
    opacity: 40%;
}
.imgin{
    width: 30px;
    height: 30px;
}