.res{
    width: 100%;
    height: 100px;
    left: 0px;
    top: 70px;
    background: linear-gradient(90deg, #116597 0%, #15BBE3 100%), #E5E5E5;
}

.titulo{
    color: white;
    position: absolute;
    left: 40px;
    top: 110px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;

}

/*detalle de los curso a comprar*/

.containerC{
    position: absolute;
    width: 660px;
    height: 145px;
    left: 110px;
    top: 237px;

    border: 0.25px solid rgba(77, 77, 77, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
}

.titulo{
    position: absolute;
width: 850px;
height: 60px;
left: 50px;
top: 100px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 100%;

/* or 36px */
display: flex;
align-items: center;

color: #FFFFFF;
}

.delete{
    position: absolute;
width: 60px;
height: 17px;
left: 700px;
top: 252px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
text-align: right;

color: #15BBE3;
}

.title{
    position: absolute;
width: 343px;
height: 28px;
left: 200px;
top: 20px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

color: #333333;
}

.subio{
position: absolute;
width: 402px;
height: 12px;
left: 200px;
top: 49px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #4D4D4D;
}

.detalle{

width: 350px;
height: 290px;
left: 150px;



font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

/* identical to box height */
display: flex;
align-items: center;
color: #333333;
}
.compra{
position: absolute;
width: 183px;
height: 12px;
left: 650px;
top: 212px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: right;

color: #15BBE3;
}

.precioActual{
position: absolute;
width: 107px;
height: 25px;
left: 450px;
top: 110px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: right;

color: #FF7B7B;
}

.descripcion{
    position: absolute;
width: 403px;
height: 32px;
left: 200px;
top: 65px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #4D4D4D;
}

.precioAnterior{
    position: absolute;
   width: 71px;
   height: 17px;
   left: 475px;
   top: 115px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 11px;
   line-height: 13px;
   display: flex;
   align-items: center;
   text-align: right;
   text-decoration-line: line-through;
   color: #4D4D4D;
   }

   /*resumen de la compra*/

   .resultado{
    position: absolute;
    width: 330px;
    height: 334px;
    left: 840px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    }

    .titleResultado{
      position: relative;
        width: 278px;
        height: 25px;
        left: 15px;
        top: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #333333;

    }

    .line{

    width: 278px;
    height: 0px;
    left: 9006px;
    top: 10px;
    border: 0.25px solid rgba(0, 0, 0, 0.5);
    }

    .line2{

        width: 278px;
        height: 0px;
        left: 866px;
        top: px;

        border: 0.25px solid rgba(0, 0, 0, 0.5);
        }


    .button{
        width: 278px;
        height: 50px;
        left: 866px;
        top: 509px;

        background: #15BBE3;
        border-radius: 50px;
    }

    .numCurso{
        position: relative;
        width: 150px;
        height: 20px;
        left: 80px;
        top:10px;
        font-family: Montserrat;
        font-size: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
    }

    .cursoComprado1{
    position: relative;
    width: 300px;
    height: 35px;
    left: 10px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
    }

    .precio1{
    position: relative;
    width: 150px;
    height: 35px;
    left: 25px;
    top: 1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4D4D4D;
    }

    .cursoComprado2{
        position: relative;
        width: 300px;
        height: 17px;
        left: 10px;
        top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #4D4D4D;
     }

        .precio2{
            position: relative;
            width: 150px;
            height: 12px;
            left: 15px;
            top: 1px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #4D4D4D;
        }

        .total{
            position: relative;
            width: 86px;
            height: 65px;
            left: 50px;
            top:10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;

            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: right;

            color: #4D4D4D;

        }

 .precioTotal{
      position: relative;
        width: 100%;
        height: 100px;
        left: 90px;
        top: 1px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        /*align-items: center;*/
        /*text-align: right;*/
        color: #15BBE3;
        }

        .seguirComprando{
        position: absolute;
        width: 330px;
        height: 12px;
        left: 950px;
        top: 554px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #15BBE3;
        }

        .btnpedido{
        width: 278px;
        height: 50px;
        left: 866px;
        top:10px;
        background: #15BBE3;
        border-radius: 50px;
        width: 278px;
        height: 50px;
        left: 866px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        }
